In [14]:
from pyspark.sql import SparkSession

# Create a Spark session named "my_app"
spark = SparkSession.builder \
    .appName("my_app") \
    .getOrCreate()

24/02/12 18:07:21 WARN Utils: Your hostname, codespaces-d65237 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/02/12 18:07:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/12 18:07:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/02/12 18:07:33 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [15]:
def static_tower_data():
  # Placeholder DataFrame (simulates reading from "cell_towers.json.gz")
  df_towers = spark.createDataFrame([
    (12345, "Anytown", "Any County", "Any State", [-74.0060, 40.7128]),
    (67890, "Cityville", "Countyville", "Stateville", [-73.9857, 40.7042]),
    (24680, "Smalltown", "Small County", "Small State", [-73.9960, 40.7270])], 
                                    ["GlobalID", "City", "County", "State", "coordinates"])

  # Data selection as in the prompt
  return df_towers.select(
      df_towers.GlobalID.alias("GlobalID"),
      df_towers.City.alias("City"),
      df_towers.County.alias("County"),
      df_towers.State.alias("State"),
      df_towers.coordinates[0].alias("Longitude"),
      df_towers.coordinates[1].alias("Latitude")
  )

In [17]:
print(static_tower_data().show())

+--------+---------+------------+-----------+---------+--------+
|GlobalID|     City|      County|      State|Longitude|Latitude|
+--------+---------+------------+-----------+---------+--------+
|   12345|  Anytown|  Any County|  Any State|  -74.006| 40.7128|
|   67890|Cityville| Countyville| Stateville| -73.9857| 40.7042|
|   24680|Smalltown|Small County|Small State|  -73.996|  40.727|
+--------+---------+------------+-----------+---------+--------+

None

In [18]:
import pyspark.sql.functions as F
 
@dlt.table(comment="CDR Stream - Silver (Tower Info Added)")
@dlt.expect_or_drop("towerId", "towerId IS NOT NULL")
@dlt.expect_or_drop("type", "type IS NOT NULL")
def cdr_stream_silver():
  #get static tower data
  df_towers = dlt.read("static_tower_data")
  
  df_cdr_bronze = dlt.read_stream("cdr_stream_bronze")
  #join CDR data with tower data
  return df_cdr_bronze.join(df_towers, df_cdr_bronze.towerId == df_towers.GlobalID)

NameError: name 'dlt' is not defined

In [21]:
decode(message_file):

uanh

In [43]:
import pandas as pd
with open("input.txt","r") as fl:
    lines=fl.read().split("\n")
numbers=[]
text=[]
for line in lines:
    word=line.split()
    numbers.append(int(word[0]))
    text.append(word[1])

df=pd.DataFrame({"numbers": numbers, "text": text})
encoded_numbers=[]
x=len(df["numbers"])
y=int(round((pow(x, 0.5045)*(1.341)),0))
for i in range(y+2):
    seq=int((i*(i+1)/2))
    encoded_numbers.append(seq)
output=df[df["numbers"].isin(encoded_numbers)].sort_values(by="numbers")["text"].tolist()
print(" ".join(output))

I love computers very much

In [36]:
print(df)

    numbers       text
0         3       love
1         6  computers
2         2       dogs
3         4       cats
4         1          I
5         5        you
6         7       aefs
7         8        gdg
8         9          s
9        10       very
10       11        you
11       12       aefs
12       13        gdg
13       14          s
14       15       much

In [96]:
x/1

6.0

In [74]:
# rows = []
# n=len(data)
# x=int((n+1)*((n+1)+1)/2)
# for i in range(x):
#     seq=int((i*(i+1)/2))
#     print(data[seq:(seq+i+1)])
    
#     x=44
# m=0.02
# c=13
# print(round((m*x)+c,-1))